/* You can add global styles to this file, and also import other style files */
body{
    font-family: sans-serif;
}
.common-form{
    
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 300px;
}
.form-input{
    height: 35px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: 1px solid blue;
    color: blue;
}
.form-button{
    height: 35px;
    cursor: pointer;
}
.error-p{
    margin-top: 20px;
    color: red;
}
.cursor{
    cursor: pointer;
}