.search-item{
   margin: 25px auto; 
   margin-top: 50px;
   width:  800px;
   border-top: 1px solid #ddd;
   padding: 10px;
}
.search-item img{
    width: 200px;
    object-fit: contain;
    height: 200px;
}
.search-item h6{
    font-size: 34px;
    color: black;
    font-weight: bold;
}
.search-item p{
    font-size: 20px;
    margin: 5px;
}
.search-item span{
    /* margin-left: 10px; */
}